<br/>
<div class="row">
    <div class="container">
        <h1>Welcome to the Student Home Page...</h1>
    </div>
</div>
<br/>
<br/>

<div class="container" ng-Controller="StudentHomeController">
    <div class="row">
        <p>
            <a href="#/profile" class="btn btn-default btn-warning btn-lg" role="button">Profile</a>
        </p>
    </div>
    <div class="row">
        <p>
            <a href="#/individualproject" class="btn btn-default btn-info btn-lg" role="button">Individual Projects</a>
            <a href="#/teamproject" class="btn btn-default btn-primary btn-lg" role="button">Team Projects</a>
        </p>
    </div>
</div>
