<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <p class="copyright text-muted">HomeworkTracker 2015</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 10px;"><a href="https://www.facebook.com/riddhirathod123"><img src="resources/FB-f-Logo__blue_29.png" /></a></li>
                <li><a href="https://www.linkedin.com/in/riddhirathod"><img src="resources/In-White-28px-R.png" /></a></li>
                <li><a href="https://twitter.com/@riddhirathod123"><img src="resources/TwitterLogo.png" width="30px" height="30px"/></a></li>
            </ul>
        </div>
    </div>
</nav>