<div class="container" ng-controller="FormController">
    <h2 id="pagetitle">Forms</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#forms">Forms</a></li>
        <li><a data-toggle="tab" href="#fields">Fields</a></li>
    </ul>

    <div class="tab-content">
        <div id="forms" class="tab-pane fade in active">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <button class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </button>
                        Form Name
                    </th>
                    <th>
                        <button class="btn">
                            <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                        </button>
                        Action
                    </th>
                </tr>
                <tr>
                    <td><input ng-model="form.name" class="form-control" type="text" name="name" placeholder="name"/></td>
                    <td>
                        <button ng-click="addForm(form)" type="button" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </button>
                        <button ng-click="updateForm(form)" type="button" class="btn btn-success">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </button>
                    </td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="form in forms">
                        <td>{{form.name}}</td>
                        <td>
                            <button ng-click="deleteForm($index)" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-remove"></scan>
                            </button>
                            <button ng-click="selectForm($index)" class="btn btn-info">
                                <scan class="glyphicon glyphicon-pencil"></scan>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="fields" class="tab-pane fade">
            <div class="container">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputFirstname" class="control-label">First Name:</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="inputFirstname" placeholder="First Name">
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputLastname" class="control-label">Last Name:</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-5">
                                <input type="text" class="form-control" id="inputLastname" placeholder="Last Name">
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dob" class="control-label">Date of Birth:</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-5">
                                <input type="date" class="form-control" id="dob" placeholder="Select Date">
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Gender:</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-5">
                                <select class="form-control" type="text" name="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Roles:</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Admin
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Student
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">User
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label">License Agreement:</label>
                        <div class="row">
                            <div class="checkbox col-sm-6 col-md-5 col-lg-5">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Yes
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option1">No
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-pencil"></scan>
                                </button>
                                <button type="button" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <scan class="glyphicon glyphicon-align-justify"></scan>
                                </button>
                            </div>
                        </div>
                    </div>

                    <hr/>

                    <div class="form-group">
                        <label class="control-label">Add New Field:</label>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-5">
                                <select class="form-control" type="text" name="addNewField">
                                    <option value="singleLineText">Single Line Text</option>
                                    <option value="date">Date</option>
                                    <option value="dropdown">Dropdown</option>
                                    <option value="checkboxes">Checkboxes</option>
                                    <option value="radioButtons">Radio buttons</option>
                                    <option value="paragraphTextField">Paragraph Text Field</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-3 col-lg-2">
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1">
                                    <button type="button" class="btn btn-primary">
                                        <scan class="glyphicon glyphicon-plus"></scan>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
