
<div class="container" ng-controller="IndividualProjectController">
    <div class="row">
        <div class="col-sm-3 col-md-2" ng-controller="SidebarController">
            <div ng-include="'views/sidebar/sidebar.view.html'"></div>
        </div>

        <div class="col-sm-9 col-md-10">
            <h3 id="pagetitle">Project Fields</h3>

            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#individualproject">Projects</a></li>
                <li class="active"><a data-toggle="tab" href="#individualproject">Project Fields</a></li>
            </ul>

            <div class="tab-content" ng-controller="ProjectFieldController as controller">
                <div id="projectFields" class="tab-pane fade in active">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputProjectId" class="col-sm-2 control-label">Project Id:</label>
                            <div class="col-sm-10">
                                <label class="control-label" id="inputProjectId">{{project._id}}</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProjectTitle" class="col-sm-2 control-label">Project Title:</label>
                            <div class="col-sm-10">
                                <label class="control-label" id="inputProjectTitle">{{project.title}}</label>
                                <!--<input ng-model="projectTitle" type="text" class="form-control" id="inputProjectTitle" placeholder="Project Title">-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProjectDescription" class="col-sm-2 control-label">Project Description:</label>
                            <div class="col-sm-10">
                                <textarea ng-model="project.description" class="form-control" id="inputProjectDescription" placeholder="Project Description"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProjectStatus" class="col-sm-2 control-label">Project Status:</label>
                            <div class="col-sm-10">
                                <select ng-model="project.status" class="form-control" id="inputProjectStatus">
                                    <option>NOT STARTED</option>
                                    <option>STARTED</option>
                                    <option>COMPLETED</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputGithubUsername" class="col-sm-2 control-label">Github Username:</label>
                            <div class="col-sm-10">
                                <input ng-model="project.githubUsername" type="text" class="form-control" id="inputGithubUsername" placeholder="Github Username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputGithubReponame" class="col-sm-2 control-label">Github Repository Name:</label>
                            <div class="col-sm-10">
                                <input ng-model="project.githubReponame" type="text" class="form-control" id="inputGithubReponame" placeholder="Github Repository Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <button type="button" ng-click="updateProject()" class="btn btn-primary btn-default">Save Project</button>
                            </div>
                        </div>

                        <br>
                        <hr class="horizontal-line">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Sub-Tasks
                                </th>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Action
                                </th>
                            </tr>
                            <tr>
                                <td><input ng-model="subTaskName" class="form-control" type="text" placeholder="name"/></td>
                                <td>
                                    <button ng-click="addProjectSubTask()" type="button" class="btn btn-primary">
                                        <scan class="glyphicon glyphicon-plus"></scan>
                                    </button>
                                    <button ng-click="updateProjectSubTask(selectedSubTaskId, index)" type="button" class="btn btn-success">
                                        <scan class="glyphicon glyphicon-ok"></scan>
                                    </button>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="subTask in subTasks | orderBy:predicate:reverse">
                                <td>{{subTask.name}}</td>
                                <td>
                                    <button ng-click="deleteProjectSubTask(subTask._id)" class="btn btn-danger">
                                        <scan class="glyphicon glyphicon-remove"></scan>
                                    </button>
                                    <button ng-click="selectProjectSubTask($index)" class="btn btn-info">
                                        <scan class="glyphicon glyphicon-pencil"></scan>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <br>
                        <hr class="horizontal-line">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Instructor Email
                                </th>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Action
                                </th>
                            </tr>
                            <tr>
                                <td><input ng-model="instructorEmail" class="form-control" type="text" placeholder="example@domain.com"/></td>
                                <td>
                                    <button ng-click="addInstructorEmail()" type="button" class="btn btn-primary">
                                        <scan class="glyphicon glyphicon-plus"></scan>
                                    </button>
                                    <button ng-click="updateInstructorEmail(selectedInstructorEmailId, emailIndex)" type="button" class="btn btn-success">
                                        <scan class="glyphicon glyphicon-ok"></scan>
                                    </button>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="instructor in instructors | orderBy:predicate:reverse">
                                <td>{{instructor.email}}</td>
                                <td>
                                    <button ng-click="deleteInstructorEmail(instructor._id)" class="btn btn-danger">
                                        <scan class="glyphicon glyphicon-remove"></scan>
                                    </button>
                                    <button ng-click="selectInstructorEmail($index)" class="btn btn-info">
                                        <scan class="glyphicon glyphicon-pencil"></scan>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <br>
                        <hr class="horizontal-line">
                        <label>Sync Github Commits:</label>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Commiter Name
                                </th>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Commit Message
                                </th>
                                <th>
                                    <button class="btn">
                                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                                    </button>
                                    Commit Timestamp
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="commit in project.commits | orderBy:predicate:reverse">
                                    <td><a href={{commit.committerHtmlUrl}}>{{commit.committer}}</a></td>
                                    <td><a href={{commit.commitHtmlUrl}}>{{commit.message}}</a></td>
                                    <td>{{commit.timestamp | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>