<div class="container" ng-controller="ProfileController">
    <!--<div class="" ng-if="user" >-->
        <h1>Profile under client</h1>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2">Username:</label>
                <div class="col-sm-10">
                    <input data-ng-model="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2">Password:</label>
                <div class="col-sm-10">
                    <input data-ng-model="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label for="inputFirstName" class="col-sm-2">First Name:</label>
                <div class="col-sm-10">
                    <input data-ng-model="firstName" type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
            </div>

            <div class="form-group">
                <label for="inputLastName" class="col-sm-2">Last Name:</label>
                <div class="col-sm-10">
                    <input data-ng-model="lastName" type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-sm-2">Email:</label>
                <div class="col-sm-10">
                    <input data-ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>

            <div class="error not-found" ng-if="error">
                <span>{{error}}</span>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <!--<button type="submit" class="btn btn-default btn-group-justified"><a href="profile.html">Update</a></button>-->
                    <button ng-click="update()" type="submit" class="btn btn-default">Update</button>
                    <!--<a ng-click="update()" class="btn btn-default btn-primary form-control" role="button" href="#/profile">Update</a>-->
                </div>
            </div>

            <div class="success updated" ng-if="success">
                <span>{{success}}</span>
            </div>
        </form>
    </div>

    <!--<div ng-if="!user">-->
        <!--<h1 class="page-header">You need to <a href="#/login">Login</a> to view profile</h1>-->
    <!--</div>-->
</div>