<div class="container" style="margin-bottom: 60px; margin-top: 60px;">
    <!--<div id="header" class="row text-center">-->
        <!--<div id="logo">-->
            <!--<span id="danger">-->
                <!--<span class="h animated bounceInDown">h</span>-->
                <!--<span class="o animated bounceInDown">o</span>-->
                <!--<span class="m animated bounceInDown">m</span>-->
                <!--<span class="e animated bounceInDown">e</span>-->
                <!--<span class="w animated bounceInDown">w</span>-->
                <!--<span class="o2 animated bounceInDown">o</span>-->
                <!--<span class="r animated bounceInDown">r</span>-->
                <!--<span class="k animated bounceInDown">k</span>-->
                <!--<span class="t animated bounceInDown">t</span>-->
                <!--<span class="r2 animated bounceInDown">r</span>-->
                <!--<span class="a animated bounceInDown">a</span>-->
                <!--<span class="c animated bounceInDown">c</span>-->
                <!--<span class="k2 animated bounceInDown">k</span>-->
                <!--<span class="e2 animated bounceInDown">e</span>-->
                <!--<span class="r2 animated bounceInDown">r</span>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img align="center" src="resources/photoshop1.jpg" width="1200px" height="200px" alt="...">
                <div class="carousel-caption">
                    <!--<h3>Caption1 Text</h3>-->
                </div>
            </div>
            <div class="item">
                <img align="center" src="resources/office4p2.jpg" width="1200px" height="200px" alt="...">
                <div class="carousel-caption">
                    <!--<h3>Caption2 Text</h3>-->
                </div>
            </div>
            <div class="item">
                <img align="center" src="resources/office5p2.jpg" width="1200px" height="200px" alt="...">
                <div class="carousel-caption">
                    <!--<h3>Caption3 Text</h3>-->
                </div>
            </div>
            <div class="item">
                <img align="center" src="resources/office3p2.jpg" width="1200px" height="200px" alt="...">
                <div class="carousel-caption">
                    <!--<h3>Caption4 Text</h3>-->
                </div>
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->
    </div>

    <!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">-->
        <!--&lt;!&ndash; Indicators &ndash;&gt;-->
        <!--<ol class="carousel-indicators">-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
            <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
        <!--</ol>-->

        <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
        <!--<div class="carousel-inner">-->
            <!--<div class="item active">-->
                <!--<img src="http://placehold.it/1200x315" alt="...">-->
                <!--<div class="carousel-caption">-->
                    <!--<h3>Caption Text1</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="http://placehold.it/1200x315" alt="...">-->
                <!--<div class="carousel-caption">-->
                    <!--<h3>Caption Text2</h3>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<img src="http://placehold.it/1200x315" alt="...">-->
                <!--<div class="carousel-caption">-->
                    <!--<h3>Caption Text3</h3>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Controls &ndash;&gt;-->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
        <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--</a>-->
    <!--</div> &lt;!&ndash; Carousel &ndash;&gt;-->
</div><!-- Carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing" style="color: darkgrey">
    <hr class="featurette-divider">
    <h2 align="center">Homework Tracker is <i>"the all-encompassing view of your projects and your work"</i></h2>
    <!-- Three columns of text below the carousel -->
    <div class="row" style="margin-bottom: 60px; margin-top: 60px;">
        <div class="col-lg-4" style="text-align: center">
            <img class="img-circle" src="resources/human/1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>PLAN</h3>
            <p>Create your projects and divide tasks into many subtasks.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align: center">
            <img class="img-circle" src="resources/human/3.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h3>PRIORITIZE</h3>
            <p>Break your project down into bite-sized stories. See all your work, across multiple projects, on one screen.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align: center">
            <img class="img-circle" src="resources/human/4.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>TRACK</h3>
            <p>Prioritize your project work in full context with complete visibility.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row" style="margin-bottom: 60px; margin-top: 60px;">
        <div class="col-lg-4" style="text-align: center">
            <img class="img-circle" src="resources/human/6.png" alt="Generic placeholder image" width="140" height="140">
            <h3>DEVELOPMENT WORKFLOW</h3>
            <p>Homework Tracker Software aims at automatically updating project when code is committed in Github.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align: center">
            <img class="img-circle" src="resources/human/7.jpg" alt="Generic placeholder image" width="140" height="140">
            <h3>KNOWLEDGE MANAGEMENT</h3>
            <p>Transform product requirements into a Software project in HomeworkTracker.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4" style="text-align: center">
            <img class="img-circle" src="resources/human/8.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h3>EASY TO USE</h3>
            <p>New users master the basics in minutes.</p>
        </div><!-- /.col-lg-4 -->
    </div>
</div>

<!-- START THE FEATURETTES -->

<div class="container" style="margin-bottom: 60px; color: darkgrey">
    <hr class="featurette-divider">

    <div class="row featurette" style="margin-bottom: 60px; margin-top: 60px">
        <div class="col-md-6">
            <h2 class="featurette-heading">Homework Tracker does half of the work for me. <span class="text-muted">Its really easy to use.</span></h2>
            <p class="lead">It helps me visualize my projects and all the work done for a coursework. It remembers my mistakes and obstacles. It reminds me of the things I learnt for my previous projects.</p>
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-responsive center-block" src="resources/human/2.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette" style="margin-bottom: 60px; margin-top: 60px">
        <div class="col-md-6 col-md-push-6">
            <h2 class="featurette-heading">Homework Tracker prepares you for the professional world. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">It is a great platform to represent your project work when working alone or when you are collaborate in a team.It helps me learn how to plan my project work, divide it into subtasks and then prioritize the subtasks. I think it is a great initiative to prep students for professional world.</p>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <img class="featurette-image img-responsive center-block" src="resources/human/5.jpg" alt="Generic placeholder image">
        </div>
    </div>
</div>

<!-- /END THE FEATURETTES -->