<div class="row">
    <img width="100%" height="auto" src="../../resources/ProjectWebpage1.jpg">
</div>

<div class="row">
    <h2 class="col-xs-12" align="center">Homework Tracker is <i>"the all-encompassing view of your projects and your work"</i></h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <b>PLAN:</b><br/>
            Create your projects and divide tasks into many subtasks.
            <br/>
            <br/>
            <b>PRIORITIZE:</b><br/>
            Break your project down into bite-sized stories. See all your work, across multiple projects, on one screen.
            <br/>
            <br/>
            <b>TRACK:</b><br/>
            Prioritize your project work in full context with complete visibility.
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <b>DEVELOPMENT WORKFLOW:</b><br/>
            Homework Tracker Software aims at automatically updating proect when code is committed in Github.
            <br/>
            <br/>
            <b>KNOWLEDGE MANAGEMENT:</b><br/>
            Transform product requirements into a Software project in HomeworkTracker.
            <br/>
            <br/>
            <b>SURPRISINGLY EASY TO USE:</b><br/>
            New users master the basics in minutes.
        </div>
    </div>
</div>

<br/>
<div class="row" align="center" style="background-color:mintcream">
    <img width="50%" height="auto" src="../../resources/ProjectWebpage2.jpg">
</div>
<br/>

<div class="row">
    <h2 class="col-xs-12" align="center">Experience of existing student users..</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>Student 1</h3>
            <i>Homework Tracker has really helped me and instilled following qualities in me:
                <ul>
                    <li>Visualize my projects and all the work done for a coursework.</li>
                    <li>Remember my mistakes and obstacles.</li>
                    <li>Remind me of the things I learnt for my previous projects.</li>
                </ul>
            </i>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <h3>Student 2</h3>
            <i>"Homework Tracker is a great platform to represent your project
                work when working alone or when you are collaborate in a team.
                It helps me learn how to plan my project work,
                divide it into subtasks and then prioritize the subtasks.
                I think it is a great initiative to prep students for professional world."</i>
        </div>
    </div>
</div>