 <div class="container" ng-controller="SignUpController">
     <h1>Sign Up</h1>
     <form class="form-horizontal">
         <div class="form-group">
             <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
             <div class="col-sm-10">
                 <input ng-model="username" type="text" class="form-control" id="inputUsername" placeholder="Username">
             </div>
         </div>

         <div class="form-group">
             <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
             <div class="col-sm-10">
                 <input ng-model="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
             </div>
         </div>

         <div class="form-group">
             <label for="inputVerifyPassword" class="col-sm-2 control-label">Verify Password:</label>
             <div class="col-sm-10">
                 <input ng-model="verifyPassword" type="password" class="form-control" id="inputVerifyPassword" placeholder="Verify Password">
             </div>
         </div>

         <div class="form-group">
             <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
             <div class="col-sm-10">
                 <input ng-model="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
             </div>
         </div>

         <div class="form-group">
             <label for="inputUserType" class="col-sm-2 control-label">User Type:</label>
             <div class="col-sm-10">
                 <input ng-model="usertype" type="text" class="form-control" id="inputUserType" placeholder="(Student/Instructor)">
             </div>
         </div>

         <div class="form-group">
             <div class="col-sm-offset-2 col-sm-10">
                 <!--<a href="../home/studenthome.view.html" class="btn btn-default btn-primary btn-block" role="button">Register</a>-->
                 <button type="submit" ng-click="signup()" class="btn btn-primary btn-block btn-default">Sign Up</button>
             </div>
         </div>

         <div class="error not-found" ng-if="error">
             <span>{{error}}</span>
         </div>
     </form>
 </div>