<div id="w" class="container" ng-Controller="SearchController">
    <div class="row">
        <div class="col-sm-3 col-md-2" ng-controller="SidebarController">
            <div ng-include="'views/sidebar/sidebar.view.html'"></div>
        </div>
        <div class="col-sm-9 col-md-10">
            <h2>Search</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputProjectId" class="col-sm-2 control-label">Project Id:</label>
                    <div class="col-sm-10">
                        <input ng-model="id" type="text" class="form-control" id="inputProjectId" placeholder="Project Id">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputProjectName" class="col-sm-2 control-label">Project Title:</label>
                    <div class="col-sm-10">
                        <input ng-model="title" type="text" class="form-control" id="inputProjectName" placeholder="Project Title">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputProjectStatus" class="col-sm-2 control-label">Project Status:</label>
                    <div class="col-sm-10">
                        <select ng-model="status" class="form-control" id="inputProjectStatus">
                            <option>NO SELECTION</option>
                            <option>NOT STARTED</option>
                            <option>STARTED</option>
                            <option>COMPLETED</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescriptionKeywords" class="col-sm-2 control-label">Description Keywords:</label>
                    <div class="col-sm-10">
                        <input ng-model="descriptionKeywords" type="text" class="form-control" id="inputDescriptionKeywords" placeholder="Description Keywords">
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label for="inputTeamName" class="col-sm-2 control-label">Team Name:</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<input ng-model="teamName" type="text" class="form-control" id="inputTeamName" placeholder="Team Name">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <a ng-click="search()" class="btn btn-default btn-primary form-control" role="button" href="#/search">Search</a>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <span>{{message}}</span>
                    </div>
                </div>

                <br>
                <hr class="horizontal-line">
                <label>PROJECTS:</label>
                <table class="table table-condensed table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <button class="btn">
                                <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                            </button>
                            Project Title
                        </th>
                        <th>
                            <button class="btn">
                                <scan class="glyphicon glyphicon-triangle-bottom"></scan>
                            </button>
                            Project Owner
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in projects | orderBy:predicate:reverse">
                        <td><a ng-click="navigate($index)">{{entry.project.title}}</a></td>
                        <td>{{entry.owner.username}}</td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>